

.heading-1 { 
  @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
}

.heading-2 { 
  @apply text-xl md:text-2xl lg:text-3xl font-semibold;
}

.heading-3 { 
  @apply text-lg md:text-xl lg:text-2xl font-semibold;
}

.heading-4 {
  @apply text-base md:text-lg lg:text-xl font-semibold
}

/* Body Text */
.body-large { 
  @apply text-lg md:text-xl lg:text-2xl;
}

.body-base { 
  @apply text-sm md:text-base lg:text-lg;
}

.body-small { 
  @apply text-xs md:text-sm lg:text-base;
}

.body-smaller {
  @apply text-xs md:text-sm
}